.homework-list {
  border-collapse: separate;
  border-spacing: 0 1rem;
  tr {
    vertical-align: middle;
  }
  td {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #d3d3d3;
    padding: 12px;
  }
  .border-left-radius {
    border-radius: 6px 0 0 6px;
  }
  .border-right-radius {
    border-radius: 0 6px 6px 0;
  }
}

@media screen and (max-width: 992px) {
  .homework-list {
    .stack-column {
      flex-direction: column !important;
      p {
        margin-bottom: 0.5rem !important;
      }
    }
    a {
      padding: 0.5rem 0.5rem !important;
    }
  }
}
