@import "../../Styles/Config.scss";
.landing-page {
  font-size: 18px;
  .container {
    max-width: 1280px;
    margin: 0 auto;
  }

  .sub-header {
    font-size: 36px;
    line-height: 44px;
    &::after {
      content: "";
      width: 143px;
      height: 8px;
      background: $akaColor2;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -28px;
    }
  }

  .header-wrapper {
    padding-top: 40px;
    background-image: url("../../Assets/LandingPage/ld-bg.png");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 357px;
    .top-nav {
      margin-bottom: 96px;
    }
    h1 {
      line-height: 102px;
      font-size: 56px;
    }
  }

  .block-1 {
    padding: 64px inherit 125px inherit;
    margin-bottom: 132px;
    .sub-header {
      margin-bottom: 96px;
    }
    .hero-image {
      max-width: 740px;
    }
    .content-box {
      p {
        padding: 0 68px;
        font-size: 18px;
        line-height: 24px;
      }
    }
  }

  .block-2-wrapper {
    padding: 88px 0;
    margin-bottom: 220px;
    background-color: #eaf4fc;
    background-image: url("../../Assets/LandingPage/ld-bg-2.png");
    .sub-header {
      margin-bottom: 56px;
    }
    p {
      max-width: 682px;
      line-height: 24px;
      margin-bottom: 68px;
    }
    .content-box {
      padding: 64px 0 56px 0;
      width: calc((100% / 3) - 1rem);
      img {
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  .block-3 {
    margin-bottom: 352px;
    .sub-header {
      margin-bottom: 162px;
    }
    .content-box {
      img {
        width: 80px;
      }
      p {
        padding: 0 92px;
      }
      &::after {
        content: "";
        position: absolute;
        border-bottom: 42px solid $akaColor4;
        border-left: 32px solid transparent;
        border-right: 32px solid transparent;
        border-radius: 12px;
        left: 50px;
        top: -32px;
      }
    }
  }

  .footer-wrapper {
    max-width: 1673px;
    margin: 0 auto;
    border-radius: 36px 36px 0px 0px;
    padding-top: 74px;
  }
}

@media screen and (max-width: 1690px) {
  .landing-page {
    .footer-wrapper {
      margin: 0 1rem;
      max-width: 100%;
    }
  }
}

@media screen and (max-width: 1366px) {
  .landing-page {
    .container {
      padding: 0 36px;
    }
  }
}

@media screen and (max-width: 1199px) {
  .landing-page {
    .sub-header {
      font-size: 24px;
      line-height: 30px;
    }
    .header-wrapper {
      padding-bottom: 136px;
      .top-nav {
        margin-bottom: 36px;
      }
      h1 {
        text-align: center;
        font-size: 40px;
        line-height: 62px;
      }
    }
    .block-1 {
      .hero-image {
        max-width: 544px;
      }
    }

    .block-2-wrapper {
      margin-bottom: 136px;
    }

    .block-3 {
      margin-bottom: 136px;
      .sub-header {
        margin-bottom: 108px;
      }
      .content-box {
        padding: 1.5rem 1rem !important;
        img {
          width: 64px;
        }
        p {
          padding: 0 24px 0 76px;
        }
      }
    }
  }
}
