@import "../../../../Styles/Config.scss";

.search_box {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.infocss {
  background: #f4f4f4;
  padding: 1.45rem 2.25rem;
  span {
    font-size: 16px;
    color: $akaColor3;
    span {
      color: $akaColor5;
      span {
        color: $akaColor2;
      }
    }
  }
}
.table_list{
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}


