$akaColor1: #0367b4;
$akaColor2: #ff6d34;
$akaColor3: #8f8f8f;
$akaColor4: #eaf4fc;
$akaColor5: #130049;
$akaColor6: #816ffc;
$akaColor7: #ccc7eb;
$akaColor8: #d3d3d3;
$akaColor-black: #000000;
$akaColor9: #ed2114;
$akaColor10: #03b0a9;
$akaColor11: #ffeff2;
$akaColor12: #e6f8f6;

$akaColor13: #F8F8F8;