@import "../../../../Styles/Config.scss";

.sidebar {
  width: 200px;
  .logo {
    margin-bottom: 34px;
    padding-top: 27px;
    box-sizing: border-box;
  }
  .nav-link {
    line-height: 36px;
    &:hover {
      background: $akaColor4;
      transition: 0.2s ease-in;
    }
  }
  .active {
    color: $akaColor1 !important;
    border-right: 2px solid $akaColor1;
  }
}
