.course-card {
  // background: url("../../../Assets/Dashboard/striped-retangle.png");
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: center;
  // border: 1px solid black;
  & > div {
    width: 20%;
    h4 {
      font-weight: 700;
    }
    span {
      font-weight: 600;
    }
  }
}
