@import "../../../../Styles/Config.scss";
.codeclass {
   background: rgba(255, 110, 52, 0.3);
   width: fit-content;
}
.total {
   background: rgba(3, 176, 170, 0.3);
   color: rgba(3, 176, 170, 1);
}
