.right-header {
   text-align: center;
   .border-bottomRight {
      padding-top: 16px;
      padding-bottom: 18px;
      border-bottom: 1px solid #d3d3d3;
      img {
         margin-right: 8px;
      }
   }
}
.status {
   .header-status {
      border-bottom: 1px solid #d3d3d3;
   }
}

.doc_file {
   border: 1px solid #d3d3d3;
}
