.login_main {
  height: 110vh;
}

// login_main>box_contain
.box_contain {
  top: 50%;
  transform: translateY(-50%);
}
// box_contain>under_img
.under_img {
  top: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

// login_main>box
.box {
  margin-top: 3.75rem;
  max-width: 36.1rem;
  max-height: 40rem;
  background: white;
  &:hover {
    box-shadow: 0px 0px 31px rgba(3, 103, 180, 0.12);
  }
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    height: 48px;
    &:hover {
      &:hover {
        box-shadow: 0px 0px 31px rgba(3, 103, 180, 0.12);
      }
    }
  }
}

// box>lable
.lable {
  font-size: 16px;
  font-weight: 600;
}

// box>main_btn
.main_btn {
  padding: 1.25rem 0;
  background: linear-gradient(90deg, #0367b4 100%, #0367b4 100%);
  &::after {
    position: absolute;
    right: 6rem;
    opacity: 0;
    content: url("../../Assets/Login/white-arrow-right.svg");
    color: #fff;
  }
  &:hover {
    background: linear-gradient(90deg, #0367b4 0%, #2a89d2 123.77%);
    &::after {
      right: 1rem;
      opacity: 1;
      transition: 0.25s ease-in;
    }
  }
}
