.dropdownCalendar {
   width: 60%;
   border: 1px solid #0367b4;
   border-radius: 6px;
   margin: 0 auto;
   .btn-uncontroll {
      .btnDrop {
         border: none;
         justify-content: space-between;
      }

      .drop-menu {
         // right: 0;
         .toggle-btn {
            color: #000;
            background-color: #ffffff;
            border: none;
         }
      }
      .cancel-date {
         color: #0367b4;
         border: 1px solid #0367b4;
         border-radius: 6px;
         background: #ffffff;
      }
      .apply-date {
         color: #ffffff;
         background: #0367b4;
         border: 1px solid #0367b4;
         border-radius: 6px;
      }
   }
}
